{{ form_start(form) }}
{{ form_widget(form) }}
<button class="classText btn btn-info">{{ button_label|default('<i class="fas fa-save"></i>')|raw }}</button>
<button class="classIcon btn btn-info">{{ button_label|default('<i class="fas fa-save"></i>')|raw }}</button>
{{ form_end(form) }}
