{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<link href="{{ asset('css/form/form.css') }}" rel=" stylesheet"/>
{% endblock %}
{% block title %}Se connecter
{% endblock %}

{% block titleHeader %}
	<h1 class="display-5 fw-bolder text-white mb-2">Connecter vous</h1>
{% endblock %}
{% block subtitleHeader %}
	<p class="lead fw-normal text-white-50 mb-4">Ici nous sommes des passionées qui cherchons à transmettre notre savoir !</p>
{% endblock %}
{% block body %}
	<section>
		<h1>Connexion</h1>
		<form method="post">
			<div>
				{% if error_message %}
					<div class="alert alert-danger" role="alert">{{ error_message }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté en tant que
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% endif %}

				<label for="inputUsername">Profil</label>
				<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
			</div>
			<div>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div>
				<p>
					<a href="{{ path('app_forgot_password_request') }}">
						Mot de passe oublié ?</a>
				</p>
			</div>
			<button class="btn btn-lg btn-primary" type="submit">
				Se connecter
			</button>
		</form>
	</section>
{% endblock %}
