{% extends 'base.html.twig' %}

{% block title %}Edit Article
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link href="{{ asset('css/form/form.css') }}" rel=" stylesheet"/>
	<link href="{{ asset('css/pagesArrayBase/index.css') }}" rel=" stylesheet"/>
{% endblock %}
{% block header %}
	{% block titleHeader %}{% endblock %}
	{% block subtitleHeader %}{% endblock %}
{% endblock %}
{% block body %}
	<section>
		{{ include('article/_form.html.twig', {'button_label': 'Mise a jour'}) }}
		<div class="d-flex justify-content-center">
			<button class="classText btn btn-info" type="button">
				<a href="{{ path('app_home') }}">
					<i class="fas fa-angle-double-left"></i>
				</a>
			</button>
			<button class="classText btn btn-warning" type="button">
				{{ include('article/_delete_form.html.twig') }}
			</button>


		</div>

	</section>
{% endblock %}
{% block scripts %}
	<script>
		document.addEventListener("DOMContentLoaded", function () {
const container = document.getElementById('article_videos');

// Fonction pour ajouter un nouveau champ
function addLinkField() { // Créer un nouvel index unique
const index = container.querySelectorAll('input').length;

let newField = container.getAttribute('data-prototype');
newField = newField.replace(/__name__label__/g, `lien ${
index + 1
}`);
newField = newField.replace(/__name__/g, index + 1);
newField = newField.replace(/id="article_videos___name__/g, `id="article_videos_${index}`);

// Utilisez insertAdjacentHTML pour ajouter le champ sans remplacer le contenu existant
container.insertAdjacentHTML('beforeend', newField);
}
document.getElementById('add-link-button').addEventListener('click', addLinkField);

});
	</script>
{% endblock %}
